.navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100px;
  width: 100%;
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background: transparent;
}

@media (min-width: 769px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navigation .sectionMain {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: 0 50px;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .navigation .sectionMain {
    padding: 0 40px;
    font-size: 1rem;
  }
}

@media (min-width: 1440px) {
  .navigation .sectionMain {
    font-size: 1.2rem;
  }
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.navigation__list li {
  padding: 20px 20px;
  cursor: pointer;
  font-size: .8rem;
}

.navigation__list li:hover {
  text-decoration: underline;
}

@media (min-width: 1024px) {
  .navigation__list li {
    padding: 20px 40px;
    font-size: 1rem;
  }
}

@media (min-width: 1440px) {
  .navigation__list li {
    padding: 20px 60px;
  }
}

.sticky {
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
  height: 60px;
}

.sticky .sectionMain {
  color: black;
  cursor: pointer;
}

.sticky .navigation__list {
  color: black;
}

.sticky .navigation__list li {
  padding: 5px 30px;
  -webkit-transition: .3s;
  transition: .3s;
}

.sticky .navigation__list li:hover {
  text-decoration: underline;
}

@media (min-width: 768px) and (orientation: landscape) {
  .sticky .navigation__list li {
    padding: 5px 20px;
  }
}

@media (min-width: 1024px) {
  .sticky .navigation__list li {
    padding: 5px 40px;
  }
}

@media (min-width: 1440px) {
  .sticky .navigation__list li {
    padding: 5px 60px;
  }
}

/*Navigation Hamburger*/
.hamburger {
  position: fixed;
  top: 10px;
  right: 10px;
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
  z-index: 1000;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
}

.hamburger:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 400px) {
  .hamburger {
    height: 15vw;
    width: 15vw;
  }
}

@media (min-width: 645px) {
  .hamburger {
    height: 10vw;
    width: 10vw;
  }
}

@media (min-width: 769px) {
  .hamburger {
    display: none;
  }
}

.hamburger, .mobileNavigation {
  -webkit-transition: -webkit-transform .3s .1s ease-in-out;
  transition: -webkit-transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out, -webkit-transform .3s .1s ease-in-out;
}

.hamburger, .mobileNavigation--active {
  -webkit-transition: -webkit-transform .3s .1s ease-in-out;
  transition: -webkit-transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out, -webkit-transform .3s .1s ease-in-out;
}

.hamburger--active {
  -webkit-transform: translateX(calc(-100vw + 74px));
          transform: translateX(calc(-100vw + 74px));
}

.hamburger__box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-color .3s .1s ease-in-out;
  transition: background-color .3s .1s ease-in-out;
}

.hamburger__inner::before,
.hamburger__inner::after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 0;
  -webkit-transition: -webkit-transform .2s .2s ease-in-out;
  transition: -webkit-transform .2s .2s ease-in-out;
  transition: transform .2s .2s ease-in-out;
  transition: transform .2s .2s ease-in-out, -webkit-transform .2s .2s ease-in-out;
}

.hamburger__inner::before {
  top: -10px;
}

.hamburger__inner::after {
  top: 10px;
}

.hamburger--active .hamburger__inner {
  background-color: transparent;
}

.hamburger--active .hamburger__inner::before {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger__inner::after {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

.mobileNavigation {
  overflow: hidden;
  position: fixed;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: 100;
}

@media (min-width: 769px) {
  .mobileNavigation {
    display: none;
  }
}

.mobileNavigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobileNavigation ul li {
  padding: 20px 0;
  width: 50%;
  text-align: center;
  border-bottom: 1px solid white;
}

.mobileNavigation ul li:nth-last-of-type(1) {
  border: none;
}

.mobileNavigation ul li:nth-of-type(1) {
  border: none;
  margin-bottom: 10vh;
  font-weight: bold;
  font-size: 1.4rem;
  width: 90%;
}

.mobileNavigation--active {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 100;
  -webkit-transform: translateX(0vw);
          transform: translateX(0vw);
}

@media (min-width: 769px) {
  .mobileNavigation--active {
    display: none;
  }
}

.mobileNavigation--active ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobileNavigation--active ul li {
  padding: 20px 0;
  width: 50%;
  text-align: center;
  border-bottom: 1px solid white;
}

.mobileNavigation--active ul li:nth-last-of-type(1) {
  border: none;
}
/*# sourceMappingURL=navigation.css.map */